[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
psycopg2 = "==2.9.2"
django-webpack-loader = "==0.7.0"
django-pwa = "*"

[dev-packages]
black = "==21.12b0"
flake8 = "==4.0.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
